body {
    margin: 0;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

.header-button button {
    background-color: limegreen;
    border: none;
    width: 120px;
    height: 40px;
    color: white;
}

.nav-bar {
    background-color: lightcyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0px 0 0px;
}

.btn-add {
    margin-right: 20px;
    background-color: limegreen;
    border: none;
    width: 120px;
    height: 40px;
    color: white;
}

table {
    width: 100%;
    border: 1px solid #CCC;
    border-collapse: collapse;
}


.tb-head {
}

    .tb-head td {
        border: 1px solid #CCC;
        text-align: center;
        height: 40px;
    }

.tb-data td {
    border: 1px solid #CCC;
    height: 40px;
    text-align: center;
}
